body{
	background-color: white;
}

.classes   {
    border: 1px solid;
    border-radius: 15px;
    margin: 23px 15px;
    padding: 28px auto 27px 14px;
    position: relative;
}
.course_title   {
    margin: 28px auto 0 14px;
    font-size: 22px;
}
.professor   {
    margin: 0px auto 27px 14px;
    font-size: 15px;
}
#courses_home {
    color: #979797;
}
#courses_home .header h1 {
    text-align: center;
    padding-top: 5px;
    font-size: 28px;
}
.chevron   {
    height: 25px;
    width: auto;
    position: absolute;
    margin: 0;
    top: 39%;
    left: 94%;
}
#plusIcon {
    position: relative;
    height: 35px;
    top: 4px;
    right: 19px;
}
#courses_home .header #hamburger{
    position: relative;
    left: 19px;
    height: 40px;
    width: auto;
    top: -3px;
}
#courses_home #sideMenu {
    position: fixed;
    z-index: 1;
    height: 100%;
    width: auto;
    background-color: gray;
    display: none;
}
#courses_home .header {
    height: 50px;
}
