body{
	background-color: white;
}

.classes   {
    border: 1px solid;
    border-radius: 15px;
    margin: 23px 15px;
    padding: 28px auto 27px 14px;
}
.course_title   {
    margin: 28px auto 0 14px;
    font-size: 22px;
}
.professor   {
    margin: 0px auto 27px 14px;
    font-size: 15px;
}
#courses_home {
    color: #979797;
}
#courses_home .header h1 {
    text-align: center;
    padding-top: 5px;
}
#courses_home .header #hamburger{
	position: relative;
    left: 19px;
    top: -11px;
}
#courses_home .header {
    height: 50px;
}
